**/__pycache__
**/.pytest_cache
**/.ipynb_checkpoints
**/_documents
**/_dev
TODO.md
_docs
docs/_build
_build
**/Thumbs.db
/notebooks/globcolour.ipynb
/notebooks/globcolour_without_pytcube.ipynb
/notebooks/argo_bio-profile_index.txt